@font-face {
  font-family: 'Geliat';
  src: url('../fonts/geliat.woff2') format('woff2'),
       url('../fonts/geliat.woff') format('woff');
}

@font-face {
  font-family: 'Geliat Extra Bold';
  src: url('../fonts/geliat-extrabold.woff2') format('woff2'),
       url('../fonts/geliat-extrabold.woff') format('woff');
}

:root {
  --color-text-light: rgb(255, 255, 255);
  --color-text-dark: rgb(0, 0, 0);
  --color-text-error: rgb(187, 6, 40);
  --color-text-optional: rgb(128, 128, 128);
  --color-rule-success: rgb(0, 128, 0);
  --color-rule-failure: rgb(128, 128, 128);
  --color-border: rgb(192, 192, 192);
  --color-body-background: rgb(105, 105, 105); 
  --color-hero-background: rgb(117, 154, 163);
  --color-form-background: rgb(255, 255, 255);
  --color-form-background-shade: rgb(238, 238, 238);
  --color-form-autofill-background: rgb(245, 249, 255);
  --color-footer-background: rgb(16, 29, 48);
  --color-main-accent: rgb(47, 140, 164);
  --color-main-accent-light: rgb(108, 179, 199);
  --color-main-accent-dark: rgb(5, 117, 145);
  --border-radius: 6px;
}

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  font: 16px / 1.1 'Geliat', sans-serif;
  color: var(--color-text-dark);
  background-color: var(--color-body-background);
  text-align: center;
}

em {
  font-style: italic;
}

a,
a:hover,
a:active,
a:visited {
  color: inherit;
}

h1 {
  font-family: 'Geliat Extra Bold', sans-serif;
}

input::-ms-reveal,
input::-ms-clear {
  display: none;
}

.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 100%;
}

.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--color-text-light);
  background-color: var(--color-hero-background);
  padding: 1rem 0;
  min-height: 50vh;
}

.hero__header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero__logo {
  width: 3.75rem;
  height: 5rem;
  margin-right: 0.5rem;
}

.hero__company {
  font-size: 3rem;
}

.hero__img-credits {
  font-size: 0.75rem;
}

.hero__img-credits-link:hover,
.hero__img-credits-link:active {
  color: var(--color-text-dark);
}

.content {
  background-color: var(--color-form-background-shade);
}

.intro {
  margin: 2rem 1rem 0;
}

.intro > p:first-child {
  margin-bottom: 0.5rem;
}

.login {
  margin: 0 1rem 2rem;
}

.form {
  display: grid;
  gap: 1.25rem;
  background-color: var(--color-form-background);
  padding: 2rem max(2rem, calc((100vw - 450px) / 2));
  margin: 2rem 0;
  width: 100%;
}

.form__header {
  font-size: 2rem;
}

.form__field {
  position: relative;
}

.form__input {
  font-family: inherit;
  font-size: 100%;
  color: var(--color-text-dark);
  background-color: transparent;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  padding: 0.5rem 2.25rem 0.5rem 0.75rem;
  width: 100%;
  height: 3rem;
  transition: all 0.1s ease-in-out;
}

#password,
#password-confirm {
  padding-right: 4.5rem;
}

.form__field:hover .form__input,
.form__input:focus {
  outline: none;
  border: 2px solid var(--color-main-accent);
}

.form__input:autofill,
.form__input:-webkit-autofill {
  -webkit-background-clip: text;
  -webkit-text-fill-color: var(--color-text-dark);
  box-shadow: inset 0 0 2rem 2rem var(--color-form-autofill-background);
}

.form__label {
  position: absolute;
  left: 13px;
  top: 15px;
  font-weight: bold;
  color: var(--color-main-accent);
  border-radius: var(--border-radius);
  transition: all 0.2s ease-in-out;
  pointer-events: none;
}

.form__input:not(:required) + .form__label::after {
  content: '(optional)';
  font-size: 0.75rem;
  color: var(--color-text-optional);
  margin-left: 0.25rem;
}

.form__input:focus + .form__label,
.form__input:not(:placeholder-shown) + .form__label,
.form__input:-webkit-autofill + .form__label {
  top: -8px;
  left: 8px;
  font-size: 0.875rem;
  background-color: var(--color-form-background);
  padding: 0 0.25rem;
}

.form__checkmark {
  position: absolute;
  top: 15px;
  right: 12px;
  background: none;
  width: 18px;
  height: 18px;
  opacity: 0;
  transition: all 0.2s;
}

.form__input:valid:not(:placeholder-shown) ~ .form__checkmark {
  background: url(../images/circle-checkmark.svg) no-repeat;
  opacity: 1;
}

.form__password-visibility-toggle {
  position: absolute;
  top: 17px;
  right: 12px;
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--color-main-accent);
  padding-bottom: 0.5rem;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  transition: right 0.1s;
}

#password:valid ~ .form__password-visibility-toggle,
#password-confirm:valid ~ .form__password-visibility-toggle {
  right: 36px;
}

.form__error {
  --height: 23px;
  overflow: hidden;
  height: 0;
  opacity: 0;
}

.form__error > p {
  font-size: 0.75rem;
  font-weight: bold;
  color: var(--color-text-error);
  margin: 0.5rem 0 0 0.75rem;
  text-align: left;
}

.form__error > p::before {
  content: '\26A0';
  margin-right: 0.25rem;
}

.form__error--expand {
  animation: 0.5s slide-down forwards;
}

.form__error--collapse {
  animation: 0.5s slide-up forwards;
}

.password-rules {
  --height: 87px;
  font-size: 0.875rem;
  margin-left: 0.75rem;
  text-align: left;
  overflow: hidden;
  height: 0;
  opacity: 0;
}

.password-rules__intro {
  margin-top: 0.5rem;
}

.password-rules__rule::before {
  content: '\2718';
  font-weight: bold;
  color: var(--color-rule-failure);
  margin-right: 0.25rem;
}

.password-rules__rule--success::before {
  content: '\2714';
  color: var(--color-rule-success);
}

.password-rules--expand {
  animation: 0.5s slide-down forwards;
}

.password-rules--collapse {
  animation: 0.5s slide-up forwards;
}

.form__submit {
  justify-self: center;
  font-size: 0.875rem;
  font-weight: bold;
  color: var(--color-text-light);
  background-color: var(--color-main-accent);
  border: none;
  border-radius: var(--border-radius);
  padding: 0.75rem 1.5rem;
  cursor: pointer;
  transition: background-color 0.1s ease-in-out;
}

.form__submit:hover {
  background-color: var(--color-main-accent-dark);
}

.form__submit:focus, 
.form__submit:active {
  outline: 2px solid var(--color-main-accent-dark);
  outline-offset: 2px;
}

.login__link,
.login__link:visited {
  color: var(--color-main-accent);
}

.login__link:hover,
.login__link:active {
  color: var(--color-main-accent-light);
}

.footer {
  color: var(--color-text-light);
  background-color: var(--color-footer-background);
  padding: 1rem;
}

.footer__link,
.footer__link:visited {
  color: var(--color-main-accent-light);
}

.footer__link:hover,
.footer__link:active {
  color: var(--color-main-accent);
}

@keyframes slide-down {
  0% {
    height: 0;
    opacity: 0;
  }
  100% {
    height: var(--height);
    opacity: 1;
  }
}

@keyframes slide-up {
  0% {
    height: var(--height);
    opacity: 1;
  }
  100% {
    height: 0;
    opacity: 0;
  }
}

@media (min-width: 992px){
  .main {
    flex: 1;
    flex-direction: row;
    max-width: 1600px;
  }

  .hero {
    width: 40%;
  }

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 60%;
  }

  .form {
    grid-template-columns: repeat(2, 1fr);
    padding: 2rem 3rem;
  }

  .form__header,
  .form__submit {
    grid-column: 1 / 3;
  }
}